<section>
    <div class="inner posts">
        <div class="post-feed-header section">
            <h2 class="post-feed-title">{{@custom.featured_two_section_heading}}</h2>
            <a class="explore-more-btn" href="tag/{{@custom.featured_two_section_tag}}">
                <span>Explore more</span>
                <i class="fas fa-thin fa-lg fa-arrow-right-long"></i>
            </a>
        </div>
        <div class="post-feed">
            {{#get "posts" limit="3" include="tags" filter="slug:[{{@custom.featured_two_section_tag}}]" order="published_at desc"}}
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}

        </div>
</section>