<section class="tools-section" id="resources-section">
    <div class="inner posts">
        <div class="post-feed-header section">
            <h2 class="post-feed-title">Tools</h2>
            <a class="explore-more-btn" href="tag/{{@custom.resources_tag}}">
                <span>Explore all tools</span>
                <i class="fas fa-thin fa-lg fa-arrow-right-long"></i>
            </a>
        </div>
        <div class="tools-content">
            <aside class="tools-sidebar">
                {{> tag-list}}
            </aside>
            <div class="post-feed tools-posts">
                {{#get "posts" filter="tags:[{{@custom.resources_tag}}]" include="tags" as |posts|}}
                    {{#if posts}}
                        {{#foreach posts}}
                            {{> post-card showDate=False }}
                        {{/foreach}}
                    {{/if}}
                {{/get}}
            </div>
        </div>
    </div>
</section>