<section>
    <div class="promo-banner">
        <h2>{{@custom.promo_banner_heading}}</h2>
        <p>No spam. No bullshit.</p>
        <a class="promo-button" href="#/portal" data-portal="">
            <span>Subscribe</span>
        </a>
    </div>
</section>