<ul class="sidebar-nav">
  {{#get "posts" filter="tags:[copilot]" include="tags"}}
    {{#foreach posts}}
      {{#foreach tags}}
        <li><button class="sidebar-button tag-button" data-tag="{{slug}}">{{name}}</button></li>
      {{/foreach}}
    {{/foreach}}
  {{/get}}
</ul>