{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content outer{{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}">

    {{#match @custom.header_style "!=" "Hidden"}}
        <div class="site-header-inner inner">
            {{#if @site.description}}
                <p class="site-description">{{@site.description}}</p>
            {{/if}}
        </div>
    {{/match}}

</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">

<section class="p-outer hero">
    <div class="p-inner p-hero">
        <!-- Floating shapes -->
        <div class="shape shape1">/</div>
        <div class="shape shape2">/</div>
        <div class="shape shape3">/</div>
        <div class="shape shape4">/</div>
        <div class="shape shape5">/</div>
        
        <div class="p-hero-left">
            <div class="wrapper">
                <p>Level up with insights and advice on pitching, fundraising, and building.</p>
            </div>
        </div>
        <div class="p-hero-left">
            <a class="footer-cta-button gh-portal-close" href="#/portal" data-portal="">
                <div class="footer-cta-input">Enter your email</div>
                <span>Subscribe</span>
            </a>
        </div>
    </div>
</section>

{{> featured-section-one }}

{{#if @custom.resources_section}}
    {{> home-resources-section }}
    {{else}}
{{/if}}

{{> featured-section-two }}

{{> promo-banner }}

</main>
