.tools-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .tools-sidebar {
    flex: .75;
    font-size: inherit;
    padding: 36px 0 0;
  }
  
  .post-feed.tools-posts {
    grid-template-columns: repeat(6,1fr);
    margin-left: 1em;
  }
  
  @media (max-width: 767px) {
    .tools-sidebar {
      display: none;
    }
    .post-feed.tools-posts {
      grid-gap: 40px !important;
      grid-template-columns: 1fr !important;
      margin-left: unset !important;
    }
  }
  
  @media (max-width: 991px) {
    .post-feed.tools-posts {
      grid-gap: 40px !important;
      grid-template-columns: 1fr !important;
    }
  }
  
  .tools-posts {
    flex: 2;
  }
  
  .sidebar-nav {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    position: sticky;
    top: 4vmin;
    padding-right: 2rem;
  }
  
  .sidebar-button {
    display: block; /* Makes the button fill the width of the list item */
    width: 100%;
    text-align: left; /* Aligns text to the left */
    padding: 10px; /* Adds some padding */
    margin-bottom: 10px; /* Adds some space between buttons */
    background-color: transparent;
    cursor: pointer; /* Changes cursor to hand on hover */
    border: 1px solid transparent;
    border-radius: var(--global-radius)
  }
  
  .sidebar-button:hover {
    background-color: #e0e0e0; /* Changes background color on hover */
  }
  
  .sidebar-button:active {
    background-color: var(--ghost-accent-transparent);
    border: 1px solid var(--ghost-accent-color);
    border-radius: var(--global-radius);
  }
  
  .fa-arrow-right-long:before, .fa-long-arrow-right:before {
    content: "\f178";
    font-family: 'FontAwesome';
    margin-left: 1rem;
  }
  
  .tag-button.active {
    background-color: transparent;
    border: 1px solid var(--ghost-accent-color);
    border-radius: var(--global-radius);
  }