html {
    &.dark-mode, &.auto-color {
        body {
            color: rgba(255, 255, 255, 0.75);
            background: $color-darkmode;
            
            &:not(.has-cover) .gh-head {
                background: $color-darkmode;
                color: #fff;
            }
        }

        img {
            opacity: 0.9;
        }

        kbd {
            background: color-mod($color-darkmode l(+5%));
        }

        figcaption {
            a {
                color: #fff;
            }

            color: rgba(255, 255, 255, 0.6);
        }

        .gh-burger::before,
        .gh-burger::after {
            background-color: #fff;
        }

        .site-header-content,
        .post-card-featured,
        .post-card-title,
        .pagination a,
        .author-profile-location,
        .author-profile-social-link:hover,
        .article-title,
        .kg-header-card h2.kg-header-card-header,
        .kg-header-card h3.kg-header-card-subheader,
        .footer-cta-title,
        .article-byline-meta .author-name a {
            color: #fff;
        }

        .post-card-image,
        .post-full-image {
            background: $color-darkmode;
        }

        .author-avatar,
        .author-profile-image path {
            fill: $color-darkmode;
            border-color: $color-darkmode;
            background-color: color-mod($color-darkmode l(+8%));
        }

        .author-profile-image {
            opacity: 1;
        }

        .no-image {
            .author-social-link a {
                color: rgba(255, 255, 255, 0.75);
            }

            &.site-archive-header {
                color: rgba(255, 255, 255, 0.9);
                background: $color-darkmode;
            }
        }

        .gh-content {
            & > [id] {
                color: rgba(255, 255, 255, 0.9);
            }

            pre {
                background: color-mod($color-darkgrey l(-8%));
            }

            :not(pre) > code {
                background: color-mod($color-darkgrey l(+6%));
                border-color: color-mod($color-darkmode l(+8%));
                color: $color-wash;
            }

            :is(input, textarea) {
                color: color-mod($color-midgrey l(-30%));
            }

            hr {
                border-top-color: color-mod($color-darkmode l(+8%));
            }

            hr:after {
                background: color-mod($color-darkmode l(+8%));
                box-shadow: $color-darkmode 0 0 0 5px;
            }

            :is(.post-card-tags, .post-card-meta, .article-tag a, .byline-meta-content, .pagination .page-number) {
                color: color-mod($color-secondary-text l(-22%));
            }

            :where(a) {
                color: #fff;
            }

            strong,
            em,
            code {
                color: #fff;
            }

            code {
                background: #000;
            }
            
            table:not(.gist table) {
                th {
                    color: rgba(255, 255, 255, 0.85);
                    background-color: color-mod($color-darkmode l(+8%));
                }

                td {
                    &:first-child {
                        background-image: linear-gradient(to right, $color-darkmode 50%, color-mod($color-darkmode a(0%)) 100%);
                    }

                    &:last-child {
                        background-image: linear-gradient(to left, $color-darkmode 50%, color-mod($color-darkmode a(0%)) 100%);
                    }
                }

                th, td {
                    border: color-mod($color-darkmode l(+8%)) 1px solid;
                }
            }
        }

        .kg-header-card {
            &.kg-style-dark {
                background: color-mod($color-darkgrey l(-5%));
            }

            &.kg-style-light {
                background: color-mod($color-darkgrey l(+5%));
            }
        }

        @media (max-width: 767px) {
            &.gh-head-open:not(.has-cover) {
                #gh-head,
                #gh-head .gh-head-actions {
                    background: $color-darkmode;
                }
            }
        }
    }
}
