/* 9. Error Template
/* ---------------------------------------------------------- */

.error-content {
    padding: 14vw 4vw 2vw;

    @media (min-width: 940px) {
        .post-card {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    @media (max-width: 800px) {
        padding-top: 24vw;
    }

    @media (max-width: 500px) {
        padding-top: 28vw;
    }
}

.error-message {
    padding-bottom: 10vw;
    text-align: center;

    @media (max-width: 800px) {
        padding-bottom: 16vw;
    }

    @media (max-width: 500px) {
        padding-bottom: 14vw;
    }
}

.error-code {
    margin: 0;
    font-size: 12vw;
    line-height: 1em;
    letter-spacing: -5px;

    @media (max-width: 800px) {
        font-size: 11.2rem;
    }
}

.error-description {
    margin: 0;
    color: $error-secondary-text;
    font-size: 3.2rem;
    line-height: 1.3em;
    letter-spacing: -0.005em;
    font-weight: 400;

    @media (max-width: 800px) {
        margin: 5px 0 0 0;
        font-size: 1.8rem;
    }
}

.error-link {
    display: inline-block;
    margin-top: 5px;
}
