/* 10. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
    position: relative;
    margin: max(12vmin, 64px) 0 0 0;
    padding: 48px 0 140px;
    color: #fff;
    background: darken($color-darkgrey, 5%);

    .inner {
        display: flex;
        grid-gap: 40px;
        flex-direction: row;
        justify-content: space-between;
        grid-template-columns: auto 1fr auto;
        color: rgba(255,255,255,0.7);
        font-size: 1.3rem;

        @media (max-width: 767px) {
            max-width: 500px;
            grid-template-columns: 1fr;
            grid-gap: 0;
            text-align: center;
            flex-direction: column;
        }
    }

    .copyright {
        a {
            color: #fff !important;
            letter-spacing: -0.015em;
            font-weight: 500;
        }

        @media (max-width: 767px) {
            color: #fff;
            font-size: 1.5rem;
            margin-bottom: 16px;
        }
    }

    a {
        color: rgba(255,255,255,0.7);

        &:hover {
            color: rgba(255,255,255,1);
            text-decoration: none;
        }
    }
}

.site-footer-nav {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        flex-direction: column;
    }

    li {
        display: inline-flex;
        align-items: center;
        padding: 0;
        margin: 0;
        line-height: 2em;
        font-size: 1.6rem;
        flex: 1 0 20%;
    }

    a {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-left: 10px;
    }

    li:not(:first-child) {
        a:before {
            display: block;
            width: 2px;
            height: 2px;
            margin: 0 10px 0 0;
            background: #fff;
            border-radius: 100%;
        }
    }
}
