/* 10. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
    position: relative;
    margin: max(12vmin, 64px) 0 0 0;
    padding: 2em 2em 1em;
    color: #fff;
    background: darken($color-darkgrey, 5%);

    .inner {
        display: grid;
        grid-gap: 40px;
        flex-direction: column;
        align-items: center;
        color: rgba(255,255,255,0.7);
        font-size: 1.3rem;
    }

    .copyright {
        color: #fff;
        
        a {
            color: #fff;
            letter-spacing: -0.015em;
            font-weight: 500;
        }
    }

    a {
        color: rgba(255,255,255,0.7);

        &:hover {
            color: rgba(255,255,255,1);
            text-decoration: none;
        }
    }
}

.site-footer-nav {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        flex-direction: column;
    }

    li {
        display: inline-flex;
        align-items: center;
        padding: 0;
        margin: 0;
        line-height: 2em;
        font-size: 1.6rem;

    }

    a {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-left: 10px;
    }

    li:not(:first-child) {
        a:before {
            display: block;
            width: 2px;
            height: 2px;
            margin: 0 10px 0 0;
            background: #fff;
            border-radius: 100%;
        }
    }
}
