/* 6.3. Read more
/* ---------------------------------------------------------- */

.read-more-wrap {
    margin-top: 2.4vmin;
}

.footer-cta + .read-more-wrap {
    margin-top: max(12vmin, 72px);
}

.read-more {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4vmin;
}

.read-more .post-card-tags {
    display: none;
}

@media (max-width: 1000px) {
    .read-more {
        grid-template-columns: repeat(4, 1fr);
    }
    .read-more .post-card:nth-child(3) {
        display: none;
    }
}

@media (max-width: 700px) {
    .read-more {
        grid-template-columns: repeat(2, 1fr);
    }
    .read-more .post-card:nth-child(2) {
        display: none;
    }
}
article.tag-resource .post-card-image {
    padding-bottom: unset;
}