/* 6.3. Related
/* ---------------------------------------------------------- */

.read-more-wrap {
    margin-top: 2.4vmin;
}

.footer-cta + .read-more-wrap {
    margin-top: max(12vmin, 72px);
}

.read-more {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4vmin;
}

.read-more .post-card-tags {
    display: none;
}

@media (max-width: 1000px) {
    .read-more {
        grid-template-columns: repeat(4, 1fr);
    }
    .read-more .post-card:nth-child(3) {
        display: none;
    }
}

@media (max-width: 700px) {
    .read-more {
        grid-template-columns: repeat(2, 1fr);
    }
    .read-more .post-card:nth-child(2) {
        display: none;
    }
}
article.tag-resource .post-card-image {
    padding-bottom: unset;
}

.read-more.inner.tag-resource img {
    border-radius: 4px;
    height: auto;
    width: 7em;
}

body.tag-resource img.post-card-image {
    height: auto;
    width: 7em;
    border-radius: $global-radius;
}

body.tag-resource img.post-card-image:after {
    padding-bottom: 7em;
}

body.tag-resource .post-card-meta {
    display: none;
}

body.tag-resource .post-card-image-link::after {
    padding-bottom: 5em;
}