*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 500;
}


.words {
  overflow: hidden;
}

/* Rotate words 
.span-rotate {
  display: block;
  height: 100%;
  padding-left: 10px;
  font-size: 24px;
  animation: spin_words 8s infinite;
}

@keyframes spin_words {
  10% {
    transform: translateY(-100%);
  }

  25% {
    transform: translateY(-91%);
  }

  35% {
    transform: translateY(-200%);
  }

  50% {
    transform: translateY(-191%);
  }

  60% {
    transform: translateY(-300%);
  }

  75% {
    transform: translateY(-291%);
  }

  85% {
    transform: translateY(-412%);
  }

  100% {
    transform: translateY(-400%);
  }
}
*/

/* These styles override the Casper navbar defaults */
.home-template * {
  color: #000;
}

.home-template.has-cover .gh-head-button {
  color: #fff;
  background-color: var(--color-darkgrey);
}

/* Define the size of the sections */
.p-outer {
  padding: 5vmin max(4vmin, 20px) 5vmin;
}

.p-inner {
  max-width: 1200px;
  /* Defines the max width of your content */
  margin-inline: auto;
  /* Centers the content */
}

/* Hero section */
.p-hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2vmin;
}

.p-hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Ensures buttons are at the bottom of the container */
}

.p-hero-right img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  /* Fills the container with the image */
  transform: translateY(24px);
  /* Move the image slightly to create an offset effect */
}

.p-hero h1 {
  text-transform: uppercase;
}

.p-hero p {
  font-size: 24px;
  line-height: 1.5;
}

.p-hero p+p {
  margin-top: 1.6rem;
}

.p-hero-left a {
  color: var(--ghost-accent-color);
  /* Color links with the Ghost accent color defined in Admin */
}

.p-hero-buttons {
  display: flex;
  gap: 1.6rem;
  margin-block-start: 8vmin;
}

.p-hero-buttons button,
.p-hero-buttons a {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.005em;
  background-color: var(--ghost-accent-color);
  border: 3px solid var(--ghost-accent-color);
  border-radius: 6px;
}

.p-hero-buttons a {
  color: var(--ghost-accent-color);
  background-color: transparent;
  border: 3px solid;
  transition: all 0.2s;
}

.p-hero-buttons a:hover {
  color: #fff;
  background-color: var(--ghost-accent-color);
  border-color: var(--ghost-accent-color);
}

/* Posts */
.p-post-container {
  margin-block: 10.2vmin;
  margin-inline: auto;
}

.p-post-container h2 {
  text-transform: uppercase;
}

.p-posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Define a post grid, where cards can be minimum 300px and maximum the size of the column */
  gap: 4vmin;
}

.p-post-card img {
  width: 100%;
  max-height: 500px;
  aspect-ratio: 16 / 9;
  /* All images will have an HD image ratio */
  object-fit: cover;
}

.p-post-card h3 {
  padding-inline: 10px;
  margin-block: 10px 0;
}

.p-post-card a:hover {
  color: var(--ghost-accent-color);
}

/* Change layout at larger viewport sizes */
@media (min-width: 768px) {
  .p-hero {
    grid-template-columns: 1fr;
    /* Hero section has 1 columns */
  }

  .p-hero-buttons {
    transform: translateY(50%);
    /* Offset buttons */
  }

  .p-hero-right img {
    max-height: none;
    aspect-ratio: 1 / 1;
    /* Make the image a square */
    filter: drop-shadow(2px 3px 10px rgb(0 0 0 / 0.25));
    /* Add a shadow*/
    object-fit: contain;
    /* But also ensure it's not cropped */
    object-position: right;
    /* Position image to far right */
  }
}

.p-outer.hero {
  position: relative;
  overflow: hidden;
}

/* Shapes 
.shape {
  position: absolute;
  font-weight: bold;
  font-size: 4em;
  color: green;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  filter: blur(4px);
  animation-duration: 20s;
}

.shape1 {
  top: -50px;
  left: -50px;
  animation-name: moveShape1;
}

.shape2 {
  top: 100px;
  right: -50px;
  animation-name: moveShape2;
}

.shape3 {
  top: 200px;
  left: -100px;
  animation-name: moveShape3;
}

.shape4 {
  top: -100px;
  right: 300px;
  animation-name: moveShape4;
}

.shape5 {
  top: 50px;
  left: 300px;
  animation-name: moveShape5;
}

@keyframes moveShape1 {
  0%, 100% { transform: translate(0, 0); opacity: 0; }
  25% { transform: translate(30vw, 45vh); opacity: 0.5; }
  50% { transform: translate(60vw, 90vh); opacity: 1; }
  75% { transform: translate(90vw, 135vh); opacity: 0.5; }
}

@keyframes moveShape2 {
  0%, 100% { transform: translate(0, 0); opacity: 0; }
  25% { transform: translate(-45vw, 30vh); opacity: 0.5; }
  50% { transform: translate(-90vw, 60vh); opacity: 1; }
  75% { transform: translate(-135vw, 90vh); opacity: 0.5; }
}

@keyframes moveShape3 {
  0%, 100% { transform: translate(0, 0); opacity: 0; }
  25% { transform: translate(22.5vw, -37.5vh); opacity: 0.5; }
  50% { transform: translate(45vw, -75vh); opacity: 1; }
  75% { transform: translate(67.5vw, -112.5vh); opacity: 0.5; }
}

@keyframes moveShape4 {
  0%, 100% { transform: translate(0, 0); opacity: 0; }
  25% { transform: translate(-30vw, -22.5vh); opacity: 0.5; }
  50% { transform: translate(-60vw, -45vh); opacity: 1; }
  75% { transform: translate(-90vw, -67.5vh); opacity: 0.5; }
}

@keyframes moveShape5 {
  0%, 100% { transform: translate(0, 0); opacity: 0; }
  25% { transform: translate(42.5vw, 17.5vh); opacity: 0.5; }
  50% { transform: translate(85vw, 35vh); opacity: 1; }
  75% { transform: translate(127.5vw, 52.5vh); opacity: 0.5; }
}

*/

.input-wrapper {
  display: block;
  font-family: monospace;
  font-size: 125%;
  width: 50%;
  > input,
  > .placeholder {
    display: block;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }
  > .placeholder {
    pointer-events: none;
    @include typed(
      "How many roads must a man walk down before you call him a man?",
      "How many seas must a white dove sail before she sleeps in the sand?",
      "The answer, my friend, is blowin' in the wind",
      1.5,
      (
        caret-width: 2px,
        caret-space: 2px
      )
    );
  }
  > input {
    &:focus,
    &:active {
      + .placeholder {
        display: none;
      }
    }
  }
}
